.nav-link {
    text-decoration: none;
    color: rgb(30, 104, 100);
}

.nav-link:hover {
    color: rgb(6, 37, 6);
}

@media only screen {
    #navbar a li{
        display: block;;
        width: 300px;
    }
}

#navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow: auto;
}

#navheader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#navbar li{
    list-style: none;
    height: 40px;
}

#main-doc{
    position: absolute;
    margin-left: 270px;
}

#mainheader {
    font-size: 20px;
    text-decoration-style: double;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#subheader {
    font-size: 18px;
    text-decoration-style: double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#code {
    white-space: pre-line;
    width: 50%;
    margin-left: 20px;
    background: lightsteelblue;
}