.nav-link {
    text-decoration: none;
    color: black;
}

#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    overflow: auto;
    background: rgb(156, 191, 226);
}

#navheader {
    padding: 8px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.6em;
    border-left-color: rgb(80, 120, 231);
    border-left-style: solid;
    border-left-width: 5px;
    text-align: center;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

#navbar li a {
    display: block;
    padding: 5px 5px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#navbar li a:hover {
    background:rgb(80, 120, 231);
    color: white;
}

#main-doc{
    position: absolute;
    margin-left: 320px;
    font-family: 'Crimson Text', serif;
    font-size: 19px;
}

#mainheader {
    font-size: 24px;
    text-decoration-style: double;
    font-family: 'Monda', sans-serif;
}

#subheader {
    font-size: 18px;
    text-decoration-style: double;
    font-family: 'Monda', sans-serif;
}

#code {
    white-space: pre-line;
    width: 50%;
    margin-left: 20px;
    background: rgb(177, 215, 236);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

code {
    font-family: 'Cousine', monospace;
    font-size: 14px;
}

table,td,th {
    border: black;
    border-style: outset;
}

table {
    border-collapse: collapse;
}